body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

input[type="number"],
input[type="range"],
.radio-group label {
  font-size: 1.2em;
  margin: 10px 0;
}

.radio-group {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.slider-container {
  width: 400px;
  margin: 20px 0;
}

input[type="range"] {
  width: 100%; /* Set the slider to take up the full width of its container */
}
